@font-face {
  font-family: 'SONGER SemiExpanded';
  src: url('/fonts/songer.semiexpanded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SONGER SemiExpanded';
  src: url('/fonts/songer.semiexpanded-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hometeam-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hometeam-board button {
    font-family: 'SONGER SemiExpanded', sans-serif;
    color: #FFFFFF; 
    background-color: #378CE7;
    border-radius: 100px;
    padding: 5px 30px; 
    margin-bottom: 50px;
}

.hometeam-board button:hover {
    cursor: pointer; 
}

.hometeam-text {
    display: flex; 
    flex-direction: column;
    background-color: #245383;
    color: white; 
    font-family: 'Work-Sans', sans-serif;
    align-items: center;
    text-align: center;
    padding: 20px 20%; 
}

.hometeam-text h1{
    font-family: 'SONGER SemiExpanded', sans-serif;
    font-size: 48px;
}

.member-card-list {
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%; 
    gap: 2rem;
    background: linear-gradient(180deg, #245383 50%, #FFFFFF 50%);
    margin-bottom: 10px;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Work-Sans', sans-serif;
}

.member-card h2 {
    font-family: 'SONGER SemiExpanded', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.portrait {
    height: 360px; 
}
